[2013-04-02 13:18] kosek opened #2 "Remove unparsed-binary() in favour of file module"

[2013-04-02 14:03] kosek opened #3 "Clarify bin:unpack-string"
If the function is retained, then in the $size=0 case it needs to say
whether the 0 octet is included in the result.

http://lists.w3.org/Archives/Public/public-expath/2013Mar/0001.html

[2013-04-02 14:05] kosek opened #4 "Simplify pack/unpack for number datatypes"
Provide just:

unpack-signed-integer($in, $offset, $length) => integer
unpack-unsigned-integer($in, $offset, $length) => integer
pack-unsigned-integer($in, $length)
pack-signed-integer($in, $length)

http://lists.w3.org/Archives/Public/public-expath/2013Mar/0020.html

[2013-04-02 14:06] kosek opened #5 "Add functions for padding"
You say the shorter operand is padded, but you don't say whether the
padding is on the left or the right. I can see use cases for
both. Perhaps we should require both to be the same length, and
provide pad-left($in, $size) and pad-right($in, $size).

http://lists.w3.org/Archives/Public/public-expath/2013Mar/0021.html

[2013-04-02 14:07] kosek opened #6 "Add hex(), octal(), binary() function"
Add hex(), octal(), binary() function which return type supported by bitwise funcions.

http://lists.w3.org/Archives/Public/public-expath/2013Mar/0024.html

[2013-04-02 14:08] kosek opened #7 "Remove serialization and use file:write-binary() instead"
http://lists.w3.org/Archives/Public/public-expath/2013Mar/0025.html

[2013-04-02 14:09] kosek opened #8 "Remove binary- prefix from function names"
Functions will remain in their namespace so binary- prefix is excessive.

http://lists.w3.org/Archives/Public/public-expath/2013Mar/0041.html

[2013-04-02 14:11] kosek opened #9 "Allow both xs:base64Binary and xs:hexBinary as arguments"
http://lists.w3.org/Archives/Public/public-expath/2013Mar/0015.html

[2013-04-02 14:12] kosek opened #10 "Add bin:find() function"
http://lists.w3.org/Archives/Public/public-expath/2013Mar/0019.html

[2013-04-18 20:05] fgeorges opened #11 "Turn the directory layout into an appendix"
As pointed out by Romain in [1], the directory layout in the packaging spec should probably be turned into an appendix, with the tag "non-normative".

[1]http://groups.google.com/group/expath/browse_thread/thread/959857392f8bd105#795d430d0466c840

[2013-08-03 14:10] fgeorges opened #14 "Add test suite section in the Binary Module spec"
Would be a good idea to add a link to the test suite in the Binary Module spec, along a few words about it.  I let Jirka and John decide of the best way to do it, some though in the following email (and the rest of the thread as well):

http://lists.w3.org/Archives/Public/public-expath/2013Aug/0006.html

[2013-08-05 10:39] fgeorges opened #15 "Editorial change to bin:hex()"
http://lists.w3.org/Archives/Public/public-expath/2013Aug/0019.html :

[2013-08-05 11:04] fgeorges opened #16 "Editorial change for negative zero"
See http://lists.w3.org/Archives/Public/public-expath/2013Aug/0022.html.

[2013-08-05 11:24] #7 closed, assigned to kosek

[2013-08-05 11:26] #8 closed, assigned to kosek

[2013-08-05 11:27] #10 closed, assigned to kosek

[2013-08-05 11:29] #6 closed, assigned to kosek

[2013-08-05 11:29] fgeorges opened #17 "Create a "naming standard" page on the CG wiki"
Create a "naming standard" document on the wiki of the Community Group http://www.w3.org/community/expath/wiki/Main_Page, documenting the naming scheme for functions, error codes, etc.

See also http://lists.w3.org/Archives/Public/public-expath/2013Aug/0031.html.

[2013-08-05 11:30] #5 closed, assigned to kosek

[2013-08-05 11:35] #2 closed, assigned to kosek

[2013-08-05 11:36] #3 closed, assigned to kosek

[2013-09-30 08:47] #4 closed, assigned to kosek

[2013-09-30 08:47] #9 closed, assigned to kosek

[2013-09-30 08:47] #15 closed, assigned to johnlumley

[2013-09-30 08:47] #16 closed, assigned to johnlumley

[2013-10-02 20:53] #17 closed, assigned to fgeorges

[2013-12-05 03:03] fgeorges opened #31 "Add user and permissions to the File Module"
The File Module does not have any function to read nor write common file properties, like the owner/group of a file, or the permission bits (read/write/execute).  Some of those concepts might be tight to a specific platform, but some might be generalized.  Even if it is not possible in a totally generic way, it would be interesting still to provide such tools.

Maybe some equivalent APIs for other

[2013-12-05 03:12] fgeorges opened #32 "Spec versioning"
Define a mechanism to version the specs.  The idea is to provide the version of the spec implemented by a specific product.  Something like (let's say for the File Module): file:version().  We have several choices to provide the version number:
- a system property
- a function
- a global variable

The problem with system properties is that they are specific to XSLT (not available in XPath, nor eve

[2013-12-05 08:55] #14 closed, assigned to kosek

[2013-12-05 11:07] ChristianGruen commented on #31
True, I would say that’s something for the next version. We already tried to add file permissions when writing the first lines of the spec, but the problem was (as you’ve already indicated) that permissions are specific to the platform and the programming language. Java <= 6 and C have very different semantics (many properties just couldn’t be requested in Java without native extensions). The situ

[2013-12-30 12:23] fgeorges opened #33 "Review the Java packaging extension of BaseX"
http://docs.basex.org/wiki/Repository#EXPath_Packaging documents the BaseX extension to package extension modules written in Java.  It looks like it does not offer a way to import such a module without being Java-specific (I might be wrong, of course).

Reminder: the goal of the packaging is for the user to be able to import a module the same way, regardless of its implementation:

[code]

The lib

[2013-12-30 14:33] fgeorges opened #34 "Consider adding the SQL Module draft to the website"
The SQL Module draft has never been maintained, and has never been added to the website in the "specs" section.  Even if there is no new candidate editor, it'd be interesting to add it as an editor's draft in the spec list.

[2013-12-30 14:35] fgeorges opened #35 "Write a news item for the Binary module"
Write a news item for the new release if the Binary Module, at http://expath.org/news.

John, I assigned you as I can assign only one person.  Maybe @kosek can do it too?

[2013-12-30 14:36] fgeorges opened #36 "Write a news item for the File Module"
Write a news item for the new release if the File Module, at http://expath.org/news.

[2013-12-30 14:59] fgeorges opened #37 "Review versioning in the standard repository layout"
Review consistent versioning in the Packaging System, for the standard repository layout.  As discussed with @georgebina, there could be maximum only one version installed at any given time in a repository, in order to have a stateless package resolution mechanism (not depending on the context of which package the import is done).

Review the Java implementation as well.

[2014-01-11 19:01] fgeorges opened #38 "Adapt the HTTP Client to new naming conventions"
Naming conventions have been written down at http://w3.org/community/expath/wiki/Naming.  Adapt the HTTP Client specification to those.  For instance the error codes.

[2014-01-12 16:12] fgeorges opened #39 "Release first draft of the HTTP Model"
Release the first draft of the HTTP Model at http://expath.org/spec/http.

[2014-01-12 16:14] fgeorges opened #40 "Internal error 500 when a spec does not exist"
The EXPath website return a "500 Internal Error" when trying to access a spec that does not exist.  For instance: http://expath.org/spec/foobar.  It should return a proper 404.

[2014-01-12 19:20] fgeorges opened #41 "Decommission the legacy EXPath list"
The first EXPath mailing list was a Google Group.  Since the group has been accepted as a W3C group, the new mailing list hosted at W3C tends to be the new list.  Having 2 mailing lists for discussions is too confusing.  Solution: tell people to migrate to W3C, and then stop them to be able to post to the old list again.

[2014-01-13 08:54] #35 closed, assigned to johnlumley

[2014-01-13 08:54] #36 closed, assigned to ChristianGruen

[2014-01-13 11:35] fgeorges opened #42 "Review HTTP Model binary representation"
See comments in https://groups.google.com/forum/#!topic/expath/PKl27uQndng (at least my post on Jan. 12).

[2014-02-17 08:51] fgeorges opened #43 "Make the packaging optional in Webapp"
Make sure the wording makes packaging optional for the Webapp spec. And make sure no other part relies on it (the web descriptor must be able to link to files directly).

[2015-02-14 14:42] fgeorges opened #45 "Define conventions for options, properties, parameters, etc."
Define some conventions (like naming conventions) for options,
properties, parameters, etc.  For complex parameters, one possibility
is to use maps, another one is to use XML elements.  There should be
conventions for both possibilities, the editor deciding for each
module which one to comply to.

Both approaches are legitimate in different contexts, but we want them
each to be consistent across m

[2015-02-14 15:15] fgeorges opened #46 "Create a page "Design principles" on the wiki"
Create a new page on the wiki to list and document the design
principles for all modules.

For instance it will contain the output of the issue #45 about having
a consistent design for options, properties, parameters, etc.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:18] fgeorges opened #47 "Create a page "Module notes" on the wiki"
This page is to list module ideas which were discussed but never
worked on, capture any information about them so they are not lost.

Add some notes about a "Schema access" module, discussed briefly
during the meeting:

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:19] fgeorges opened #48 "Define "current working directory" in the File module"
Add the "definition" for "current working directory" in 2.2, saying
it's implementation-defined.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:20] fgeorges opened #49 "Create a page "Editorial rules" on the wiki"
Create a new page on the wiki for editorial rules, links to help for
editors (e.g. the "Design principles"), how to go to 1.0, requesting
for comments, etc.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:21] fgeorges opened #50 "Mark "dormant" drafts"
Put a warning in the "dormant" draft, to tell they are parked for now,
and looking for an editor.  Those drafts are:

- Crypto
- Geo
- SQL

Mention them in the new wiki page "Module notes".

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:22] fgeorges opened #51 "Ask Peter Rushforth for status of the Geo module"
For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:23] fgeorges opened #52 "Ask John Lumley for status of the Archive module"
Either park it or push it forward.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:24] fgeorges opened #53 "Mark the ZIP module as superseeded by Archive"
Add a warning in the ZIP module (as being superseeded by the Archive
module), depending on the answer of John wrt the status of Archive.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:28] fgeorges opened #54 "Write tests for HTTP Client to have enough coverage"
More context, from the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:29] fgeorges opened #55 "Write tests for the Packaging System"
More context, from the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:30] fgeorges opened #56 "Add "HTTP Model" to the wiki page "Module notes""
More context, from the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:32] fgeorges opened #57 "Investigate common Java tools"
Someone needs to propose something/work on common Java tools for
extensions, and analyse and describe differences between Adam's and
Florent's existing work.

More context, from the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:33] fgeorges opened #58 "Put the SQL module back to the website"
Put the draft back on the website, with a "parked" warning.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:34] fgeorges opened #59 "Feedback from eXist on the Packaging System"
eXist has extended the packaging format to represent webapps.  It
would be great if they could provide feedback in this area.

Some guidance about how to extend the format would be interesting to
be added to the spec.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:35] fgeorges opened #60 "Look at relationship between Packaging System and XSLT 3.0 packages"
Analyse the relationship, similarities and differences between both
"packages", how they relate to each other and how the former might
include (potentially) the latter.

Make sure to send the result back to Mike Kay, who asked for it.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:35] fgeorges opened #61 "Migrate wiki content from EXPath to W3C"
Update (merge) the wiki at W3C with the content from expath.org, to be
sure no information is lost.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:36] fgeorges opened #62 "Update the menu link to the Wiki to the W3C wiki"
Update the link on the expath.org menu bar, pointing to the wiki, to
point to the W3C one.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:36] fgeorges opened #63 "Shut down the wiki on expath.org"
Shut down the wiki on expath.org and remove the related software from
the server.

For context, see the minutes of the meeting in Prague in Feb. 2015:
https://lists.w3.org/Archives/Public/public-expath/2015Feb/0005.html

[2015-02-14 15:49] fgeorges opened #64 "Release the first official W3C version of the Crypto module"

[2015-02-14 18:45] fgeorges commented on #64
Published.  Claudius to announce it and request comments.  Email sent on 2015-02-14.

[2015-02-14 18:54] ChristianGruen commented on #48
Thanks for adding the GitHub entries. One more things (as personal reminder): Revise description text for `file:children`.

[2015-02-19 11:39] ChristianGruen commented on #48
Resolved (22492085246d90a8fcfd3b33b2aaf1bb34a3065a).

[2015-02-19 11:39] #48 closed

[2015-02-19 11:42] ChristianGruen commented on #61
I have just started to move some of the contents to the new Wiki.

[2015-02-19 12:30] ChristianGruen commented on #61
I have moved all contents to the new Wiki (except for http://wiki.expath.org/wiki/Engines), and I believe the old Wiki can be closed.

[2015-02-22 15:25] fgeorges commented on #61
Thanks!  I had started to move some stuff myself.  Especially the Engines page and the Modules list :-)  I had a look at the [pages you created](https://www.w3.org/community/expath/wiki/Special:RecentChanges) and the [existing pages](http://wiki.expath.org/wiki/Special:AllPages) on the (soon-to-be) legacy wiki.

**Conclusion**: I think everything is there!  Below are my notes, which should not be

[2015-02-22 15:30] fgeorges commented on #61
I guess that now, we need to make sure we maintain it properly, and we organise it better (creating more pages listing or organising pages on the wiki).

Note also that this creates de facto a naming scheme for the pages on the wiki: `Foobar Module` for modules, and `Foobar Module/Saxon` for instance, for a Saxon-specific page of a module (or any other processor).

[2015-02-22 15:30] #61 closed

[2015-02-22 15:35] ChristianGruen commented on #61
Florent, thanks for "post-documenting" my changes!

[2015-02-26 14:29] ChristianGruen commented on #63
Should be possible now... #61

[2015-02-26 14:30] ChristianGruen commented on #45
Could be added to https://www.w3.org/community/expath/wiki/Naming

[2015-11-09 17:27] adamretter opened #67 "http-version attribute missing from http:request"
The `http:request` element here http://expath.org/spec/http-client#d2e183 also allows a `http-version` attribute which may be set to `1.0` or `1.1` to choose which version of HTTP is used, see https://github.com/fgeorges/expath-http-client-java/blob/master/http-client-java/src/org/expath/httpclient/impl/ApacheHttpConnection.java#L358

As the EXPath HTTP Client assumes `1.1` and `Transfer-Encoding:

[2016-10-25 20:45] benibela opened #70 "bom, encoding and test EXPath-file-writeText3-002"
The test EXPath-file-writeText3-002 assumes encoding utf-16 is written as big-endian with BOM.

It could just as well mean little-endian, each with or without BOM.

[2016-10-25 20:47] benibela commented on #70
Also EXPath-file-appendText3-002

[2016-10-25 21:56] michaelhkay commented on #70
There was email correspondence on this subject at the time, see for example

https://lists.w3.org/Archives/Public/public-expath/2012Jul/0005.html

This seemed to reach a level of consensus though I don't think this was well captured in the final spec.

You're free of course to interpret the spec any way you like but we will achieve better interoperability between implementations if implementors re

[2016-10-26 09:47] benibela commented on #70
There you wrote

contrary to EXPath-file-appendText3-002

Despite an remark on it    `<modified by="Christian Grün" on="2013-11-20" change="Alternative without BOM added"/>`

But I only wanted to deal with HTML.
There the WHATWG gave a clear definition, "UTF-16" means always little-endian: https://www.w3.org/TR/encoding/#utf-16le

[2016-10-26 15:48] michaelhkay commented on #70
Wikipedia article on UTF-16 says

If the BOM is missing, RFC 2781 <https://tools.ietf.org/html/rfc2781> says that big-endian encoding should be assumed. (In practice, due to Windows using little-endian order by default, many applications similarly assume little-endian encoding by default.)

So it looks as if WhatWG are playing their usual game - ignore standards, just endorse the bugs in existing

[2016-10-26 15:51] michaelhkay commented on #70
Well I'm sure my message wasn't the last word on the subject but it's hard to reconstruct the decisions at this distance.

Glory be, everything WhatWG does is weird.

Michael Kay
Saxonica

[2016-10-26 16:58] benibela commented on #70
There is also JSON. There the BOM is forbidden: https://tools.ietf.org/html/rfc7159#section-8.1

It has been a while.

It seems times are changing, and newer standards have a different opinion

[2016-10-27 15:41] michaelhkay commented on #70
Actually, not quite. It says that "implementations" shall not add a BOM. It doesn't say what an "implementation" is. With normal separation of concerns the JSON output will be written as characters, and the encoding to UTF-16 will be done by a library that has no idea that the text it is encoding is JSON, and therefore is under no obligation to conform to the JSON specification.

Michael Kay
Saxon

[2017-02-05 23:30] benibela opened #71 "file:last-modified test"
EXPath-file-last-modified-001 and EXPath-file-last-modified-002 test if the modification time of a file is within a 0s .. +10s interval relative to the current time.

But on a FAT system the modification time has a resolution of 2s, so it rather should test for an  -2s .. +10s interval.

[2017-02-05 23:37] michaelhkay commented on #71
Makes sense. Do we have a process for fixing this?

Michael Kay
Saxonica

[2017-02-06 12:44] #71 closed

[2017-02-06 12:45] ChristianGruen commented on #71
Not really. However, I have just fixed these two test cases and merged my own pull request.

[2017-02-06 12:48] ChristianGruen commented on #63
Is someone still working on these issues?

[2017-02-10 13:46] fgeorges commented on #63
Thank you for the reminder, @ChristianGruen!  I've just adapted the links on http://expath.org/.  The old wiki should not be referred to from anywhere now.

[2017-02-10 13:46] #63 closed

[2017-02-10 13:54] #62 closed

[2017-02-10 13:54] ChristianGruen commented on #63
And thanks for updating the links; I have closed #62 as well.

[2017-02-12 12:31] fgeorges commented on #71
Thank you, @ChristianGruen. Yes, that is the idea, just fix it when a solution has been identified and double-checked.

[2018-08-07 05:56] adamretter opened #74 "HTTP Client 2 should not treat HTTP Options response differently"
From the HTTP 1.1 spec the relevant parts of https://tools.ietf.org/html/rfc2616#section-9.2:

If I understand this correctly, it means that HTTP Options can return response headers that are important to the caller as well as a body. As such I think that `http:options` should have the same response format as e.g. `http:get`.

[2018-08-07 06:03] adamretter opened #75 "Should HTTP Client 2 use xs:anyURI for $uri?"
Discuss:

Pros and cons of using `xs:anyURI` vs `xs:string` for the `$uri` parameter of the HTTP Client 2 functions.

I am always a little uneasy when I see URIs expressed as strings when we have a data type specifically for that purpose. However, there is perhaps some convenience in using strings due to type promotion rules in the XQuery spec?

[2018-08-07 06:25] ChristianGruen commented on #74
Good catch, thanks. I’ll be happy to treat this function identically to the others.

[2018-08-07 07:04] adamretter opened #76 "HTTP Client 2 should allow for Certificate authentication"
As well as basic and digest auth, we should allow for certificate based authentication.

[2018-08-07 07:22] adamretter opened #77 "HTTP Client 2 does not need http:send"
I am not certain that there is any point to having `http:send` in EXPath HTTP Client 2.0.

It is not backwards compatible with 1.0, and therefore not a simple upgrade path. It also introduces another function definition which we need to maintain without any gain.

An implementation is free of course to provide http-send from EXPath HTTP Client 1.0 alongside EXPath HTTP Client 2.0 functions.

Any a

[2018-08-07 07:51] ChristianGruen commented on #77
Hi Adam, I would love to keep `http:send` in the specification. Otherwise, the legacy `http:send-request` function would need to be used to send more exotic HTTP methods (as e.g. used by WebDAV). Apart from that, I remember we had code in which the HTTP method is passed on as dynamic argument.

Or would you try to somehow merge the new `http:send` functionality into the existing `http:send-request

[2018-08-07 07:52] ChristianGruen commented on #77
…maybe the misunderstanding is that version 1.0 has `http:send-request`, while we would now add `http:send`?

[2018-08-07 09:28] adamretter opened #79 "HTTP Client 2 improve data types for parameters and response"
1. Could `$options` could be more strictly typed?
    Instead of `map(*)` I think we could use `map(xs:string, item())`

2. I think `$response` could be more strictly typed?
    Instead of `map(*)` I think we could use `map(xs:string, item())`

I am wondering if we should use `item()?` for the value of the map. i.e. is there a case when the server can return a key but not a value, and that has mea

[2018-08-07 09:36] ChristianGruen commented on #79
No objection here. In the first draft, I used a stricter typing in the function signatures; the only reason I removed it was to make the signatures more readable. But I’ll fine to see them readded.

The body value can be empty indeed, unless we drop the `body` key as well. Just a guess, but maybe it’s recommendable to always return the `body` key. There may be reasons in which a user expects a bod

[2018-08-07 10:30] adamretter commented on #77
Ahhh! WebDav, that is indeed a good use-case for a function which allows the HTTP method to be generally specified!

So let's keep `http:send`.

HTTP 1.0 only supports the methods GET, HEAD, and PUT. So I think any methods outside of that are only supportable by HTTP 1.1, which allows [`extension-method`](https://tools.ietf.org/html/rfc2616#page-36). I think we will need to code that into the beha

[2018-08-07 10:31] adamretter commented on #79
If there is no body in the HTTP response, there seems little point having a key with an empty value in the map to represent it. I think by omission we can infer that there was no body.

Unless it is easier to query one way or the other?

[2018-08-07 10:35] ChristianGruen commented on #79
I’m fine with that. Thanks to the semantics of paths and maps, it indeed makes no difference when writing queries.

[2018-08-07 11:16] ond1 commented on #75
Hi,

If we use xs:string for the type $uri would we be able to easily detect errors at the earliest opportunity?

In the expath http-client spec for the http:send-request function we mention the following:

I guess something similar could apply.

[2018-08-07 11:37] ChristianGruen commented on #75
Hi O’Neil, glad to see you joining in!

Exactly, this is what I would have said. When writing the spec, I relied on the original spec indeed, and I omitted various details that are already specified in that document.

My experience was that XQuery processors seem to parse `xs:anyURI` differently. For example, Saxon raises no error for the query `xs:anyURI(':')` (which is most probably correct?), b

[2018-08-07 12:33] ond1 commented on #75
Yes I agree we would need to make the statement more precise.

Yes I agree with this too. An invalid cast error would be confusing. Some error code specific to the HTTP client is best here.

[2018-08-07 12:40] ChristianGruen commented on #75
I’ll be fine with all solutions. My only concern is that if we decide to introduce a custom HTTP error code, the behavior would still be implementation-specific. For example, if a processor accepts `:` as valid `xs:anyURI` value, no HTTP error will be raised when parsing the URL, but any other error will most probably raised if the actual URL connection is created.

[2018-08-07 13:13] adamretter commented on #75
@ChristianGruen hmmm. I wonder if we just need more error codes. i.e. an implementation should try to avoid returning implementation specific error code, and instead fit all errors that occur within the http client module inside the range of error codes that we define?

[2018-08-07 13:16] ChristianGruen commented on #75
Or we try to keep it simple and add things like that in a 2.1 version?

[2018-08-07 13:18] adamretter commented on #75
@ChristianGruen I think I could write something up that is simple ;-)

Probably best to do it at the same time that we take care of the error codes.

[2018-08-08 07:05] michaelhkay commented on #75
The rules for xs:anyURI change from XSD 1.0 to XSD 1.1, and in Saxon it depends which XSD version is enabled.

Michael Kay
Saxonica

[2018-08-08 16:17] deblock commented on #79
I'd agree - only include the 'body' entry in $response if there is a response body. (That's what we do
in the Saxon-JS HTTP client.)

[2018-08-10 08:39] adamretter opened #80 "JSON vs Multipart Request body serialization"
I think we have a problem with the current design of the request bodies with regards to JSON vs Multipart. From the draft spec:

The issue I see here is that I cannot send an XDM array() as a JSON array in the request body. For example, if I have `[1,2,3]`, how can I serialize that to JSON and send it. In the current design, this would be interpreted as a multipart body.

As Multipart is likely to

[2018-08-10 08:49] adamretter opened #81 "Request body serialization"
I think we need better controls over Request body serialization. Some concerns I have:

What happens when you actually want to send base64 encoded or hex encoded data?

What happens when you need an encoding which is not UTF-8? For example the HTTP 1.1 default of ISO-8559-1

What happens when you want to send HTML5?

What happens when you try and serialize a map which has something in it which can

[2018-08-10 09:17] ChristianGruen commented on #80
Adam, I now understand what you wanted to point out pretty early in our discussion. I completely ignored JSON request and responses in my design that are no objects, but arrays or single/`null` values. Thanks a lot.

Using sequences instead of arrays for multipart messages is no option either, as a multipart response may always have a single part (and it wouldn’t be nice to trust on the cardinalit

[2018-08-10 10:13] ChristianGruen commented on #81
In the current spec, it would look like this (see the bottom of this comment for a version that includes the embedded serialization):

[code]

When generating a Content-Type header string for textual data (strings, XML, JSON), we should definitely append UTF-8 as encoding (`charset=UTF-8`; it’s not mentioned in the spec so far).

This would lead to an `http:serialize` error (there is a single sent

[2018-08-13 11:10] ChristianGruen opened #82 "Support for gzipped requests"
See discussion in https://github.com/expath/expath-cg/pull/78:

The current version of the specification provides a `content-encoding` option (which can be set to `gzip` and `deflate`:

* Maybe we can introduce a `gzip` option instead, which can be `true()` (for `gzip`) or `false()` (for `deflate`) instead?
* We should probably add some description on what happens exactly if the option is enabled.

[2018-08-13 11:13] ChristianGruen opened #83 "Error codes"
`http:options` could be renamed to `http:invalid-option` (after we have checked if it makes sense for all cases in which it is currently raised; if not, we may need to add an additional error code).

[2018-08-13 11:19] ChristianGruen opened #84 "HTTP Client 2, timeouts"
In version 1 of the HTTP Client Module, the timeout was specified in seconds. Version 2 should be backward-compliant. We could use `xs:decimal` as type to provide support for more fine-grained values.

[2018-08-16 05:50] adamretter commented on #82
Personally I still prefer to have a `content-encoding` *option*, which can override a `content-encoding` *header*, rather than options for each possible value of content-encoding etc.

Some points to support my argument:

1. Options are often mutually exclusive, e.g. the content-encoding types of gzip and deflate.
    1. Setting `"gzip": true()` and `"deflate": true()` would cause confusion.  We w

[2018-08-16 07:14] adamretter opened #90 "Do we need anything to support HTTP/2?"
I have not yet had much time to look at HTTP/2. If there are any new options, we should IMHO consider them for inclusion in the EXPath HTTP Client 2.

At a cursory glance it seems that HTTP/2 is mostly about a more efficient transport of HTTP 1.1. In the least we would need to allow `2.0` to be specified as the `http-version` option. There may be further options that we might like to add to contro

[2018-08-16 07:17] adamretter commented on #80
@ChristianGruen I think if we can sort out the request, we can think about the response next. I will send a PR to incorporate a `"multipart": true()` option.

[2018-08-16 08:51] #77 closed

[2018-08-16 08:52] #79 closed

[2018-08-16 08:52] #84 closed

[2018-08-16 08:55] #74 closed

[2018-08-16 09:02] ChristianGruen commented on #82
Sounds all reasonable to me. And I could add that:

4. Your approach is more flexible if any other content encodings should be added to HTTP (or get more popular) in future.

[2018-08-16 09:03] #67 closed

[2018-08-16 09:03] #82 closed

[2018-08-23 15:03] ChristianGruen commented on #90
It would definitely be exciting to provide support for HTTP/2. But maybe we should postpone it to a future version of the spec?

Sorry for being fairly quiet; I’ll be more responsive again soon.

[2018-08-24 13:49] ChristianGruen commented on #81
@adamretter: Would you like me to create a little PR for this solution?

[2018-08-24 13:50] ChristianGruen commented on #80
@adamretter: If you want, I could prepare a PR for this on Monday.

[2018-08-24 20:14] fgeorges opened #92 "Compatility of HTTP Client 2"
@adamretter, @ChristianGruen, thank you for your work on the new HTTP Client!  At the beginning, we can read:

1) it does not seem backward compatible at all with 1.0 to me (the one function from 1.0 is not in the new module, which makes use of maps everywhere)

2) what about "compatible with XPath 3.1 (and thus XQuery 3.1 and XSLT 3.0)"?

Does that mean it is on purpose excluding everything that

[2018-08-24 20:19] fgeorges commented on #90
I am not very familiar with HTTP/2, but IMHO it is much more than a simple improvement over 1.1.  It allows to send several queries and responses over the same wire, make server pushed, and much more.

I think @ChristianGruen suggestion to postpone it is quite wise :-)  HTTP/1.1 is not going anywhere anyway :-)

Maybe just allowing "2.0" as a valid version value could already allow a client to sen

[2018-08-24 20:33] fgeorges commented on #75
@adamretter Not sure what you mean by "validate or enforce it" in the following:

The whole reason for this rule is that if you make the function defined with `xs:anyURI`, then you cannot call it with a string.  Which will be the vast majority of the cases.  This is why the XPath, XQuery and XSLT specs use xs:string where a URI is expected, AFAIK.

E.g. in the following code, all function calls ar

[2018-08-24 20:40] fgeorges commented on #75
Also, I forgot to mention that if you go for 3.1, we have union types now (or is it only for XSLT 3.1?)

So we could define the simple type `http:uri` as the union of `xs:string` and `xs:anyURI`.  No need for an actual schema to be explicitly loaded by the user, the spec can simply define that that type is part of the known types, and voila (even if personally, I don't see the benefit of using `xs

[2018-08-24 20:51] fgeorges opened #93 "Supported method for HTTP/1.0"
The current draft says:

HTTP/1.0 defines `GET`, `HEAD` and `POST`.  In addition (in an appendix), it defines `PUT`, `DELETE`, `LINK` and `UNLINK`.  Furthermore, the grammar says:

    Method = "GET"
           | "HEAD"
           | "POST"
           | extension-method
    extension-method = token

So you can have anything that is a token.  I would personally simply remove the warning (which is wr

[2018-08-24 20:58] fgeorges commented on #93
And because I've seen another discussion, closed now, about the need for `http:send-request`, here is a list of registered methods (yes, only the methods officially registered at IANA, I bet there are a lot more out there for specific needs of specific web servers):

http://www.iana.org/assignments/http-methods/http-methods.xhtml

:-)

[2018-08-25 03:27] adamretter commented on #92
**Personally** I don't have the goal of backwards compatibility. I want to create something better.

For the user, they can use http client and http client 2 modules side by side if they want backwards compatibility because the functions are in the same namespace.

I don't know how @christiangruen feels about this?

[2018-08-25 03:35] joewiz commented on #92
@fgeorges See http://expath.github.io/expath-cg/specs/http-client2/#functions:

Users can simply click on the link to the 1.0 spec to find the relevant function documentation.

[2018-08-25 04:34] adamretter commented on #76
I would like to see this included.

Perhaps we need to set a time-frame for the spec, so that we can decide what goes in and what does not?

[2018-08-25 04:54] adamretter commented on #81
Hmm...

So you are proposing to add the [XSLT and XQuery Serialization 3.1](https://www.w3.org/TR/xslt-xquery-serialization-31/#json-output) to the `$options` as opposed to adding another arity function signature?

If so that seems reasonable to me :-)
I might suggest that the type of the `serialization` value in the map should be `item()` and that we require either:
1. `element(output:serializati

[2018-08-25 05:00] adamretter commented on #90
I think for the moment we can just add to the spec that "2.0" can be used as the `http-version`. We should also add a note, something to the effect of:

<blockquote>
We acknowledge that HTTP/2 support is currently in it's infancy. We have attempted to design for a future version of this specification to extend control for HTTP/2 via. extension points such as `$options` and further arity functions.

[2018-08-25 05:01] adamretter commented on #92
As @joewiz said! :-)

[2018-08-25 06:49] adamretter opened #96 "HTTP Client 2.0 tests"
We need a test suite for HTTP Client 2.0.

For example, at the moment I want to make sure we can handle the various XDM <-> HTTP JSON request/responses that we want, e.g. sending `null` etc.

I think we should specify it using the same grammar as https://github.com/w3c/qt3tests AFAIK, the following processors already support that:
1. BaseX
2. eXist-db
3. Saxon

We should be able to easily add some

[2018-08-25 08:44] #90 closed

[2018-08-25 08:48] #75 closed

[2018-08-25 09:46] #76 closed

[2018-08-25 09:52] ChristianGruen commented on #96
Great initiative! I’ll definitely add some test cases once it’s available.

In the unit tests of BaseX, we defined a [FakeHttpConnection](https://github.com/BaseXdb/basex/blob/master/basex-api/src/test/java/org/basex/http/FnHttpTest.java#L906) class. It’s fairly restricted, though. We could also send requests to http://httpbin.org or similar sites.

 I’m looking forward to your approach.

[2018-08-25 12:18] fgeorges commented on #81
What about adding all XSER 3.1 parameters as possible properties in the `$options` map?  Maybe even a `serializer` function item if that makes sense to be able to configure the option map that is passed to several calls, instead of serializing the content every time:

[code]

[2018-08-25 12:32] fgeorges commented on #93
Instead of saying specifically that LINK and UNLIKE have not been granted their own function, what about something like this in the introduction instead:

I think it is closer to what is provided in the spec.  If not, we should probably add all of these official methods registered at IANA to explain they do not have a specific function each :-)

- `ACL`
- `BASELINE-CONTROL`
- `BIND`
- `CHECKIN`
-

[2018-08-25 12:46] ChristianGruen commented on #81
It was mostly the unresolved encoding issue (see e.g. the Shift-JIS example above) why I thought about readding the serialization parameters to the spec – in the beginning, I hoped that we could get rid of it. We would need to clarify which Content-Type header value will be generated for the available serialization methods (the rules might be equal to the ones in version 1.0 of the spec).

My init

[2018-08-25 12:50] fgeorges commented on #92
Thank you @joewiz.  My bad, I only went through the list of functions and missed that bit.

@ChristianGruen The body is a separate argument (at least can be) and in the result of http:send-request, they are separate items in the returned sequence.  So I am bit surprised that the XML representation itself is a problem at all.

That been said, the solution I suggest above works for the "input $optio

[2018-08-25 12:57] ChristianGruen commented on #93
I tried to indicate this by the sentence:

I thought it was obvious enough, but maybe I’m wrong?

Regarding your introductory comment…

…that’d be fine for me as well. I’m wondering if an implementation should convert the method to uppercase before sending it to the server?

[2018-08-25 13:01] adamretter commented on #92
I don't see any value argument for being compatible with XPath 1.0 in this new spec.

All modern processors that are actively maintained that I know of, support XPath 3.1. For XPath 1.0 legacy users, there is the legacy HTTP Client 1.0.

What positive arguments are there for making everything XPath 1.0 compatible?

[2018-08-25 13:03] fgeorges commented on #81
`encoding` is indeed one of the XSER parameters :-)

By simply listing the parameters and their possible values in an appendix, and liking to the XSER spec, that is compact, clear, and comprehensive at the same time.

Because of the specificities of defining a HTTP Client, there might be a few details to deal with besides the XSER, like the impact on `Content-Type` (on this one, I think that if th

[2018-08-25 13:07] fgeorges commented on #93
Not, it is clear.  But the following (about support of HTTP/1.0) is not necessary then (just by being there, it seems to imply the opposite):

And I'd say yes for:

[2018-08-25 13:08] adamretter commented on #93
I think this is unneccesary with regards any changes here.

LINK and UNLINK are explicitly in the HTTP 1.0 spec that is referenced. As are DELETE and PUT, which are in the appendix as @fgeorges earlier pointed out. Hence their mention in our spec.

The IANA methods are a completely separate thing, not mentioned in the HTTP specs, which we need not worry about, or confuse anyone with. People can st

[2018-08-25 13:09] ChristianGruen commented on #92
It’s correct that the spec allows you to provide separate body items, but it was not at all obvious to many users, so I wanted to reduce the variety of choices for specifying bodies and URIs in the new spec. If you are interested in more details, feel free to browse through the questions on our mailing list.

Personally, I don’t see why we should spend more time in providing support for potential

[2018-08-25 13:14] ChristianGruen commented on #81
Talking about the impact on `Content-Type`, we have defined the following rules in our basic BaseX REST API: http://docs.basex.org/wiki/REST#Content_Type.

[2018-08-25 13:19] fgeorges commented on #96
From experience, the only way to test a HTTP Client is to define a HTTP Server that returns specific informations based on the URL and maybe other bits from the request.

In the test grammar, that would probably be an extension of the environments (now that's the bit providing the accessible documents, schemas, etc.)  Or any configuration that would tell a piece of software acting as a HTTP Server

[2018-08-25 13:20] adamretter commented on #81
I think we could just have a `serialization` option that takes the same as `fn:serialize`.

We should not reproduce XSER 3.1 in our spec or list all the options. Instead we should just link to it. Most of our target audience are already familiar with it

[2018-08-25 13:29] fgeorges commented on #92
Not really, just wanted to make sure it was a conscious choice.

BTW there are still a lot of XPath 1.0 out there, e.g. in tools like ESB or WS-*/WSDL/SOAP-related, but I doubt these specs are ever going to cross the path of that audience :-)

[2018-08-25 13:34] adamretter commented on #81
@fgeorges please examine `$options` then this will make sense. `serialization` then is no different to, and fits with things like `headers`.

Also using a property like $serialization allows serialization options to be reused, it also fits with the design of other XP 3.1 fn: functions

[2018-08-25 13:36] ChristianGruen commented on #81
As Adam pointed out in the past, as ISO-8859-1 is the default HTTP encoding, we should probably always add the charset (by default `UTF-8`).

This syntax may be more compact, but I am not sure if we should simply merge keys from different specs (even now when it is unlikely that we’ll have a future serialization spec with conflicting keys). Instead, I would opt for a dedicated option, in analogy w

[2018-08-25 13:43] fgeorges commented on #93
That's my point: we do not need to mention any specific method at all.  Not these from IANA, not LINK/UNLINK either.  These were just not lucky enough to have their own function, so one has to use http:send() for them.  But mentioning them gives them a specific status.  What about the HTTP/1.1 method CONNECT, for instance?

I think that given the following sentence, mentioning some methods explici

[2018-08-25 14:51] ChristianGruen commented on #76
Sorry, I forgot about this… What about end of September?

I’ll be offline from Sep 1 to Sep 23, but I’ll give my best next week.

[2018-08-25 14:55] adamretter commented on #76
From now until the 20th will be a bit busy for me as I have the XML Summer School. I will try and stay responsive to discussions, but time to work on this will be limited. Perhaps we could say Mid-October?

[2018-08-25 14:56] ChristianGruen commented on #76
Fine as well!

[2018-08-25 20:14] adamretter commented on #92
I think we can safely close this now. I believe the arguments and rationale for compatibility (and `maps` etc.) has been explained and defended.

If anyone is unhappy, please reopen this...

[2018-08-25 20:14] #92 closed

[2018-08-25 20:30] adamretter opened #103 "HTTP Client 1.0 spec?"
So er... I can't seem to find the spec for the HTTP 1.0 client in this repo?

Anyone know where it is?

[2018-08-26 10:50] ChristianGruen opened #104 "HTTP Client 2, Implementation"
Based on Adam’s suggestion, https://github.com/expath/expath-cg/pull/99#issuecomment-415959322:

With a common had implementation core in Java would be beneficial for all implementors of the spec.

[2018-08-26 10:55] ChristianGruen commented on #104
An update on the BaseX perspective:

We could provide a basic implementation of the spec in our core, but use the shared implementation if it is found in the classpath. This way, users could get access to current HTTP features (and, later, HTTP/2), which are not provided by the Java default implementation.

We’ll be happy to contribute code and bug fixes to the shared implementation!

[2018-08-26 12:08] fgeorges commented on #103
I guess it falls under the "no one took responsibility of it when migrating to W3C" thing.  As it is already used as is, but still in "candidate" status, I suggest to:

- publish a "draft report" on the CG as is
- announce it, say it is very unlikely we accept any change (esp. with the work on 2.0)
- move it to "final" ASAP

[2018-08-26 12:41] adamretter commented on #104
Awesome :-)

[2018-08-26 12:46] adamretter commented on #103
@fgeorges why not make things easier on yourself. By just moving it to the CG as "final". It has not changed in a very long time. My PRs for changes were never accepted and merged into the shared implementation, so I guess there is no need to update the spec with those additions and fixes?!?

[2018-08-26 12:53] fgeorges commented on #103
PR for changes to the spec?

[2018-08-26 15:34] adamretter commented on #103
No. For the "shared implementation". It would have then needed changes to the spec to make things available:

1. chunked support
2. http-version
3. gzip/deflate support
4. etc (I forget exactly what else I added)

[2018-08-26 18:46] adamretter opened #105 "follow-redirect - max follows?"
We have no value set for the maximum redirects allowed by `follow-redirect`. We could either:

1. allow an atomic value, so that `true()` and `false()` options are preserved, but also a number could be supplied
2. We could enforce a fixed hard limit, I think this is what the Web Browsers do. I would need to check.

[2018-08-26 20:03] #83 closed

[2018-08-27 10:33] ChristianGruen opened #108 "HTTP requests: options"
Here is some discusson the current options set for HTTP requests.

@adamretter: If you agree with all my proposals, I’ll be glad to create a pull request.

#### A. `content-encoding`

1. If I understand this correctly, `none` has a special meaning, because it is no supported value for the `Content-Encoding` header field. I am wondering…
* If we should keep it, or (my preference) drop it and use an

[2018-08-27 12:07] adamretter opened #110 "Allow a function to be provided for the `$body`"
@ChristianGruen I think we previously discussed allowing the user to supply a `function()` for the `$body` parameter.

This would allow users to also have control over when the body is constructed, which could lead to some greater flexibility with regards streaming or processing large entity bodies.

If you are okay with that? I can easily add the text to also allow a `function()` for the `$body`

[2018-08-27 12:23] adamretter opened #111 "Is the http:send-request function included or sign-posted?"
The following text:

Is somewhat ambiguous to me. It is not clear whether it means either:
1. Implementations of HTTP Client Module 2.0 must also implement `http:send-request` (in accordance with version 1.0) in their HTTP Client Module 2.0.
2. Users of the HTTP Client Module 2.0, can still use HTTP Client Module 1.0 if they need to.

Personally I think it should mean (2). As the two modules share

[2018-08-27 12:30] ChristianGruen commented on #111
From the user perspective, it is important that `http:send-request` is still available. From the implementation perspective, I agree there will be no need to reimplement `http:send-request` if it’s still accessible under the same namespace.

[2018-08-27 12:38] ChristianGruen commented on #110
Yeah, I remember your idea of allowing function as body arguments!

We could do that… Although I would still have some tendency to let the implementations take care of lazy processing exclusively. Maybe because I’m not aware of any other extensions functions so far that impose this optimization job to the XQuery developer (and there could be numerous examples once we start to do that). Are there s

[2018-08-27 12:45] adamretter commented on #111
@ChristianGruen I agree with your comments. However, it is still not clear to me what that means for the specification and implementers.

If you implement just the `2.0` version, does that force you to also implement the legacy `http:send-request`?

[2018-08-27 13:12] adamretter commented on #110
So my idea was not to "impose this optimization job to the XQuery developer", rather it was for the processor to be the normal source of optimizations. However, there are cases when the developer knows better than the processor, so I thought in those instances, the user could supply a function to force lazy-evaluation or an expensive operation.

[2018-08-28 04:37] adamretter commented on #103
@fgeorges Do you plan to publish this as a 1.0 on the W3C CG page?

I would very much like to get it added to https://www.specref.org/

[2018-08-28 20:44] fgeorges commented on #103
Well, last time we looked at the PR on the implementation, the code did not compile, because of some missing POM :-)

Yes, I am digging around for the spec.  I don't think it is worth reviving the original formatting toolset, so I am actually considering copy-and-pasting the content to the same authoring tool you use.  It is ReSpec, isn't it?  Do you mind giving me a couple of pointers?  Did you d

[2018-08-29 12:08] fgeorges opened #113 "ReSpec - Latest published version must NOT be in TR dir"
Using ReSpec, the "Latest published version:" at the top of the document is `https://www.w3.org/TR/{spec-name}/`.  Which is correct for W3C Recommendations from WG, not for Reports from CG.

Find a way to change it.

Take into account that it does not seem we have a "non-dated" URL for CG final reports (that is, the one URL of the report is `https://www.w3.org/YYYY/MM/expath-{spec-name}-YYYYMMDD/`

[2018-08-29 12:32] fgeorges commented on #113
There are actually 2 spec status dedicated to Community Groups: `CG-DRAFT` and `CG-FINAL`:

    specStatus: "CG-DRAFT",

But then, that is the other way around: when using `CG-FINAL`, the only URL is "latest editor draft", and there is no "latest published version".

[2018-08-29 18:45] fgeorges commented on #113
I got a working version in `specs/http-client/`, except for:

- with `specStatus = CG-FINAL`, the final URL is still the draft URL
- the "Commit history" link results in a 404 (to `.../commits/gh-pages` on GitHub which does not exist)

[2018-08-30 13:12] fgeorges commented on #103
A first version is available at http://expath.github.io/expath-cg/specs/http-client/.

@adamretter @ChristianGruen Can you have a look?  Especially for layout and conventions.  I followed conventions from your draft of HTTP Client 2.0, the F&O recommendation, and adapted a few things to follow the W3C CG use of ReSpec.

As this is going to be the first publication of an EXPath report using ReSpec,

[2018-08-30 13:26] ChristianGruen commented on #103
Hi @fgeorges, that was quick; and the result looks pretty good as far as I can judge!

I see you added some extensions to the Candidate Module from 9 January 2010 (such as the http-version attribute for requests). Do you have a short list of all features that were added in this draft?

[2018-08-30 19:01] fgeorges commented on #103
Good catch!  As far as I can tell, this is the only change.  It was sitting somewhere on my "current" draft (on my laptop from back in the days), which had never been published.  Apart from that, there might be a few typos fixed, but not much more.

[2018-08-30 19:15] fgeorges commented on #113
Email sent to Ian/teams-community-process about the last details before publication.

[2018-08-30 19:52] fgeorges commented on #111
By the claim in the intro to be backward compatible, I would say yes.  Now, nothing prevent someone to implement the "entire spec", except for that one function...

I could see a note or appendix saying that the function is part of the spec, and so both implementation can live together, and users can use both at the same time, but also that if the processor never implemented 1.0 and do not see any

[2018-08-31 05:12] adamretter commented on #111
The text does not claim to be "backward compatible", it actually says "backward-compliant". We don't want to be *backward compatible*, and we intentionally designed with that in-mind, as we felt that otherwise there would be too many barriers to improving the experience.

I don't see how that is any different from not explicitly forcing 2.0 implementers to add the `http:send-request` function from

[2018-08-31 06:58] #111 closed

[2018-08-31 07:17] ChristianGruen commented on #110
Some additions to put my thoughts across:

* The implementation for supporting function item arguments should be rather trivial (at least for all implementations that provide HOF support anyway).
* I was mostly wondering in which cases the execution time and memory consumption would actually differ at all if we add function items to the spec. I guess this is mostly an implementation issue. In Base

[2018-08-31 07:34] ChristianGruen commented on #103
If that’s the only edit, maybe we could keep the spec identical to the one that is online on expath.org?

That’s just an idea. Otherwise, we may need to further discuss added features. For example, I am not sure if the version should be added to the response as well? At least that’s what Adam suggested for version 2.0 of the spec.

[2018-08-31 07:34] adamretter commented on #103
@fgeorges Initial draft looks good, I have sent a PR for language and linking fixes here - https://github.com/expath/expath-cg/pull/115

[2018-08-31 07:35] adamretter commented on #103
@ChristianGruen I would also be in favour of NOT adding the `http-version` feature to 1.0. As it was never on the expath.org version (even though we implemented it in eXist-db).

[2018-08-31 07:52] adamretter commented on #110
Let's just consider these two variants for now:

1. `http:post($url, file:read-binary($file))`
The process here is: The processor has to read the binary file (either eagerly, or lazily), and then pass the value or reference to the underlying implementation of the `http:post` function.

2. `http:post($url, function() { file:read-binary($file) })`
This variant, allows more wiggle room by the process

[2018-08-31 09:12] ChristianGruen commented on #110
In BaseX, I can defer evaluation of an argument (such as `local:get-huge-xml()`) until its value is actually required. In our HTTP Client implementations,

1. We could evaluate the argument after the connection check.
2. We could always wrap the body argument into a function item (e.g. in a compilation step, or directly at the time where the function is called; in both cases without the user notic

[2018-08-31 09:30] adamretter commented on #110
@ChristianGruen Okay, so I think we could park this issue as a consideration for the future.

It sounds like we could improve some optimizations in eXist-db to  get most of what I had in mind.

[2018-08-31 18:49] fgeorges commented on #103
@adamretter If you did, and I did, that's a good proportion of the implementations :-)  I suggest I leave it and mark it as a "MAY".  Thanks for the PR, will review it ASAP (probably not before Monday).

[2018-09-09 22:40] michaelhkay opened #116 "Binary test EXPath-binary-unpack-unsigned-integer-012"
The test is

bin:unpack-unsigned-integer(xs:base64Binary(xs:hexBinary('ffffffffffffffff')),0,8,'most-significant-first')

and the expected result is -1.

We are getting the result 18 446 744 073 709 551 615 which seems correct to me.

[2018-09-10 11:35] johnlumley commented on #116
Very dim recollections of putting this test together - was it all of 5
years ago? It was of course tested on Saxon's Java framework and
examining the code looks as if for anything up to 8 octets, which this
is, uses a long for return - hence it would end up being signed as the
top bit is set. Thus incorrectly Saxon was passing the incorrect test
and I suspect BaseX has done similar. Beyond 8 octet

[2018-09-10 12:17] michaelhkay commented on #116
Saxon 9.8 and 9.9 are returning 18 446 744 073 709 551 615 and therefore failing the test...

[2018-09-10 12:26] johnlumley commented on #116
Did my response to the list get through? Sometimes I don't see the response. Actually think about it - I was wrong - above 7 octets, not 8, we use a BigInteger.

Sent from my iPad

[2018-09-26 11:03] adamretter commented on #104
@ChristianGruen Welcome back!

I am also back (but on actual Holiday - but working).

So AFAIK the main thing for me to do is look at the Response processing stuff now...

Regards Java, eXist-db is CI tested on Java 8, 9, 10, and 11. So we can run on those platforms just fine, at the moment, our language level for development is Java 8. I feel like there are still a lot of JDK 8 installations out

[2018-10-01 12:12] ChristianGruen commented on #116
Hi all, I agree, BaseX returns the wrong result here.

As @johnlumley already guessed (thanks), it is because items of type `xs:integer` are limited to long values in BaseX. Maybe the specification would need to be enhanced to handle numeric overflows/underflows and to allow errors similar to `FOAR0002`?

[2018-10-01 12:14] ChristianGruen commented on #104
Thanks! I hope your holiday hasn’t turned into completely the wrong direction…

[2018-10-01 12:15] ChristianGruen commented on #108
Hi @adamretter, do you want me to create a PR, which you can then comment on?

[2018-10-01 12:21] ChristianGruen commented on #93
Should we continue discussing this issue, or just close it and regard it as editorial note that we’ll keep in mind for the final polishing of the spec?

[2018-10-01 15:02] adamretter commented on #93
Im happy with it as is. So editorial oversight is fine for me ;-)

[2018-10-01 15:56] ChristianGruen commented on #93
@fgeorges: Any objections?

[2018-10-10 13:42] #110 closed

[2018-10-10 13:43] adamretter commented on #93
@fgeorges @ChristianGruen As we have had no response I am going to close this. Feel free to reopen if needed.

[2018-10-10 13:43] #93 closed

[2018-10-11 14:32] adamretter commented on #104
So just a note to myself that when I implement, I will likely use the Apache HTTP Client. When doing so, I need to use the Asynchronous Client to workaround problems with the Synchronous Client and Jetty, see:
* https://lists.apache.org/thread.html/2b70b2c6a1f565d2c35cbf53d520d51337da2caeccd917dda366531d@%3Chttpclient-users.hc.apache.org%3E
* https://github.com/eXist-db/exist/issues/2186

[2018-10-11 14:44] adamretter opened #121 "HTTP request pipelining"
At the moment there is no support for HTTP Request Pipelining. This might be a nice thing to think about in future.

See for example: https://hc.apache.org/httpcomponents-asyncclient-ga/httpasyncclient/examples/org/apache/http/examples/nio/client/AsyncClientPipelinedStreaming.java

[2018-10-11 15:13] adamretter commented on #108
A - https://github.com/expath/expath-cg/pull/123
B - https://github.com/expath/expath-cg/pull/124
C - https://github.com/expath/expath-cg/pull/120
D - https://github.com/expath/expath-cg/pull/122

Hmm I am not sure what the best thing to do about (E) is. I think as its default is to parse, in actual fact I think it will be rare that people set this to false... so maybe it will not be used too much

[2018-10-16 08:28] ChristianGruen commented on #121
Interesting idea. I decided to assign a new `http-client-3` label here.

Support for HTTP/2 Multiplexing could be exciting as well (see e.g. https://stackoverflow.com/questions/34478967/what-is-the-difference-between-http-1-1-pipelining-and-http-2-multiplexing).

[2018-10-16 08:28] ChristianGruen commented on #113
Hi @fgeorges, did you get any feedback on this?

[2018-10-16 09:35] #105 closed

[2018-10-16 11:04] adamretter commented on #108
@ChristianGruen regards (E). I want to actually make a suggestion for making the parsing of the request body a bit more flexible.

Instead of the `status-only` and `parse-response-entity-body` options, I would like to replace those with a single enumeration of options, lets for the moment call it `parse-response`. The idea is to allow greater granularity of parsing choice. `parse-response` would a

[2018-10-16 11:42] ChristianGruen commented on #108
I like the suggestion!

Maybe this could simply be the response body as binary item (possibly lazy/streamable), comparable to the response you get when using `http:send-request` and `override-media-type:application/octet-stream`?

+1

If I get it right, the idea behind my [initial `parse-response` option](https://github.com/expath/expath-cg/blob/1da836628bbdf831fcfc1e4ad9dc487d05e7c663/specs/http-

[2018-10-17 04:36] adamretter commented on #108
## TODO
1. implement more complex parse-bodies option
2. I should add a comment about `application/xhtml+xml` in the *Implicit Parsing Conversions* table to say that XHTML is XML with regards parsing
3. I should add an option for manually specifying the parser for the response parts, e.g. parser="json" akin to the 1.0 spec's `override-media-type` option, but better named and with finer control for

[2018-10-20 15:07] fgeorges commented on #113
Hi @ChristianGruen, thank you for the reminder.  Here is a summary of the responses I've got from Ian:

- use `specStatus: "CG-DRAFT"` and `publishDate: "2018-09-01"`
- in order to have it published, write to team-community-process@w3.org

He also said:

I will mention it when asking the team to have it published.

[2018-10-20 15:18] #113 closed

[2018-10-20 15:18] fgeorges opened #126 "Publish HTTP Client 1.0"
@adamretter @ChristianGruen - Are you happy with the current version?

Notes to myself:

- `publishDate: "2018-09-01"` might need to be adapted with the final date
- in order to have it published, write to team-community-process@w3.org

Ian said, about the URL of the final report (mention it in the email):

[2018-10-20 19:58] ChristianGruen commented on #126
Looks fine; it’s great to see the spec finalized!

[2018-10-22 16:02] ChristianGruen opened #127 "Custom Response Parsing"
Here is a summary on the discussion on custom response parsing (#108, #125, and others):

In version 1 of the HTTP Client Module, the `override-media-type` was available (inspired by the `override-content-type` option in XProc). It could be used to overwrite the `Content-Type` header of a response.

In practice, the approach turned out be fairly flexible, but it had some shortcomings: It did not a

[2018-11-13 18:26] #38 closed, assigned to fgeorges

[2018-11-13 18:29] fgeorges commented on #54
Outdated, this is being done for v2.

[2018-11-13 18:29] #54 closed

[2018-11-16 12:56] fgeorges commented on #126
ETA is now Nov. 20.  Hopefully more details from W3C very soon.

[2018-11-17 14:11] fgeorges commented on #126
That's it, it has been published!

See https://www.w3.org/community/expath/ and https://www.w3.org/2018/11/http-client-20181120.html.

[2018-11-17 14:11] #126 closed

[2018-11-17 14:31] fgeorges opened #128 "Where is the File module Final Report?"
@ChristianGruen, the wiki <https://www.w3.org/community/expath/wiki/Modules> mentioned the File module as being a Final Report.  But this is not the case on the CG homepage <https://www.w3.org/community/expath/>.

If this is "only" a process thing (if it was actually granted the final status, but not published properly on the CG page), I can ask for publication quite quickly.

We might as well tak

[2018-11-17 19:42] ChristianGruen commented on #128
Sounds good! What’s the fastest way to get this done?

[2018-11-17 20:47] fgeorges commented on #128
I can initiate the process with W3C staff, it is still fresh in my mind :)  Do you want to switch it to ReSpec first?  It would be good to align our Final Reports I think.

[2018-11-19 11:09] ChristianGruen commented on #128
I’m not sure when I’ll have time to convert the spec to ReSpec. Maybe it’s less effort if we stick to the current format?

[2018-11-19 11:54] michaelhkay commented on #128
I'm not quite sure what the current format is, but for specs that are essentially lists of function specs, I find it really useful to have the source specs in F&O function-catalog format, so it's possible for tools to extract the function signatures, argument names, etc. We shouldn't do anything that reduces the semantic richness of existing markup.

Michael Kay
Saxonica

[2018-11-19 12:55] johnlumley commented on #128
I might possibly have an XSLT conversion of the File Spec into F&O, at least for the catalog. I'll have a look later.

John

Sent from my iPad

[2018-11-19 14:57] michaelhkay commented on #128
I see. So (if I understand correctly) we did it in reverse - extracted the function-catalog.xml by up-conversion from the spec prose, rather than generating the spec prose from the function catalog.

Mike

[2018-11-19 16:32] johnlumley commented on #128
Yes - was the easiest way..... In constructing the Binary spec we did indeed progress catalog -> spec, but the File spec had been written in full prose by Christian et al sometime before mid-2013.  It was fairly simple to extract what we needed for the catalog to drive the requirements of Saxon documentation generation.

John

[2019-01-23 17:00] joewiz opened #130 ""hc" namespace in HTTP Client?"
In https://github.com/fgeorges/expath-http-client-java/blob/master/http-client-java/src/org/expath/httpclient/HttpConstants.java#L19-L22, 2 namespaces are defined for the EXPath HTTP Client:

[code]

The HTTP Client 1.0 spec makes no mention of the `hc` prefix or the `http://expath.org/ns/http` URI. From the section on Namespace Conventions, at http://expath.org/spec/http-client#d2e70:

The disadv

[2019-02-21 21:09] abelbraaksma opened #131 "Several issues with EXPath File spec"
I'm not 100% sure whether I should report it here or on the W3 mailing list for EXPath, if the latter is preferred, I can continue on the mailing list instead.

I found a few issues with the File Module (http://expath.org/spec/file) by glancing over it. Hopefully there's still room to address them (I may find more if I look deeper at the spec).

1. The functions `file:is-file` and `file:is-dir`: t

[2019-02-21 21:44] michaelhkay commented on #131
The EXPath file spec has been stable for some years and there are a number of implementations in use in production applications. So clarifications of the text are certainly possible, but don't expect any changes in function signatures or radical changes in semantics.

You may find that there are test cases in the test suite that help to resolve some of your questions.

I suspect the author chose t

[2019-02-22 10:59] abelbraaksma commented on #131
Thanks, I'll have a look.

Clear, thanks.

Just realizing that in XSLT, `xsl:result-document` also "returns" an empty sequence. I'll have to check how this would work with the optimizers, but as you point out, they have side effects and somehow we just need a mechanism that prevents these functions to be optimized away.

"quagmire", made me smile ;). But yes, short of defining something like a mon

[2019-02-24 21:55] ChristianGruen commented on #131
Thanks for the discussion. I’ll give some feedback when I’ll be online again (in appr. a week).

[2019-03-04 12:54] ChristianGruen commented on #131
Hi Abel,

First, thanks to Michael for giving a comprehensive reply; if I see this correctly, most of your questions have already been answered.

As Michael stated, the specification has been in a final stage for a few years now; it’s mostly the last editorial steps that haven’t been tackled so far. If you want to contribute missing information, your input is welcome, and I’ll be happy to update t

[2020-11-27 19:52] joewiz opened #132 "Future of the EXPath Crypto spec and libs"
As I mentioned on last Monday's eXist-db Community Call, @claudius108 informed me of the good news that he is working on a PhD. Congratulations, Claudius!

For the EXPath community, this means that we need to find new maintainers for the EXPath Crypto java library and eXist implementations and a new editor for the underlying specification. Respectively, these projects reside in https://github.com/

[2020-11-28 08:30] adamretter commented on #132
I don't use it myself.

If there is interest and there was a group (of 2+ people) who wanted to
work on a v2 spec, I would like to be involved in that and would invest
time in the spec work. If a v2 spec were built and finalised, we would then
likely implement it for FusionDB.

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2020-11-28 09:06] ChristianGruen commented on #132
Hi Joe,

I have used one or the other function in the past, sometimes in
combination with functions from the BaseX Hashing Module.

I guess I won’t have time to get fully involved. Similar as in the
past, though, I’ll be happy to give feedback on new drafts of the
spec.

Cheers,
Christian

[2020-11-28 15:10] line-o commented on #132
Speaking on behalf of exist solutions: we are invested and committed to further develop the crypto-lib and also to take part in an effort to finalize the specification.
The short-term goal is a working crypto-lib for the upcoming release of exist-db.

The implementation of https://github.com/eXistSolutions/exist-jwt depends on the crypto-lib.

[2020-11-28 16:34] nsincaglia commented on #132
What are you using the Crypto lib for?
We use the EXPath Crypto module for a lot of different things. We use it
to calculate file hashsums before we transfer them over the internet so
that the recipient of data we send can verify that the data has not been
corrupted during transmission. We have also developed a variety of
RESTful web service modules to connect to 3rd party services such as AWS
(S3

[2021-01-23 13:09] benibela opened #133 "File module and XPath 3.1"
The file module refers to the "XSLT and XQuery Serialization 3.0" spec. If that is taken literally, it cannot write arrays or maps of 3.1

And the serialize function was extended to allow `map {...}` serialization params, `file:write` and `file:append` should probably allow them to.

And writing map/arrays as JSON is a common task, there should probably be `file:write-json`, `file:append-json`  fu

[2021-01-23 13:18] ChristianGruen commented on #133
It’s true, the spec should be updated one day (when the File Module was finalized, XQuery 3.0 was still predominant). – In BaseX, we have added some functions that should be added as well (https://docs.basex.org/wiki/File_Module).

[2021-01-23 13:25] benibela opened #134 "file write serialization tests"
There are no tests for file:write in https://github.com/expath/expath-cg/blob/master/tests/qt3/file/file.xml

All the serialization tests from qt3 could be imported for it

One case, I am not sure about, is the expected output of `file:write("output.json", "{""a"": ""foo""}" )`. Is it `{&quot;a&quot;: &quot;foo&quot;}` or `{"a": "foo"}`. Probably former, but that is useless..

[2021-01-23 13:36] ChristianGruen commented on #134
It’s supposed to be `{"a": "foo"}`.

[2021-01-23 15:12] benibela commented on #134
Because `"` does not need to be escaped at all?  How about this test case: `file:write("output.json", "{""a"": ""<>foo""}" )`.  Is it `{"a": "<>foo"}` or `{"a": "&lt;&gt;foo"}` ?

[2021-01-23 15:18] ChristianGruen commented on #134
I’d need to check the W3 serialization spec in more depth to give a helpful answer (`fn:serialize('&quot;&lt;&gt;')` returns `"&lt;&gt;`).

[2021-01-26 11:38] benibela commented on #134
There is not really a point in escaping `>` and not escaping `"` or vice verse.

 https://www.w3.org/TR/xslt-xquery-serialization-31/#serphases

[2021-01-26 12:02] michaelhkay commented on #134
If you're processing a text node, then escaping " is pointless, but escaping ">" unconditionally saves you the hassle of checking to see whether it's part of a "]]>" sequence.

Michael Kay
Saxonica

[2022-04-06 16:27] ndw opened #135 "Where are the archive/sandpit files supposed to come from?"
There are tests in `tests/qt3/archive` that (seem to) rely on `test1.zip` and `test3.zip` existing in the `sandpit` directory. However, the `sandpit` directory is not in the repo and is explicitly `.gitignore`d.

Where are they supposed to come from, and what are they supposed to contain?

[2022-04-06 20:59] fgeorges commented on #135
Hi Norm!  Good point.  I think that either @johnlumley or @michaelhkay would be able to help?

[2022-04-06 21:09] fgeorges commented on #135
Otherwise, you might be able to reverse-engineer it from `tests/qt3/archive/archive.xml` (`test1.zip` must have one entry, `new.txt`, with content `Some text here` encoded as UTF-8, etc.)  It might get a bit trickier for other properties, like compression, etc.

[2022-04-07 07:42] ndw commented on #135
Hmm. I was going to say that I had some files that seemed to work (I've been tidying up some parts of the Saxonica test harness), but the `test1.zip` that I have doesn't have a `new.txt` entry so perhaps I don't yet understand exactly how the tests work.

[2022-04-07 08:10] michaelhkay commented on #135
I found some files in a working copy of an old Subversion repository and have done a commit under a new name (sandpit2) but now realise these are probably the same files that Norm found, with no new.txt entry.

[2022-04-07 12:09] fgeorges commented on #135
Don't take my comment about `new.txt` as the absolute truth, I was just having a quick look at the tests in `tests/qt3/archive/archive.xml`.

Actually, after a second look, I would rather say that it must be `textA.txt` and contain "`A simple string`".  The entry `new.txt` seems to be created by one of the tests themselves (which makes more sense given its name.)

[2022-04-13 23:30] michaelhkay opened #136 "EXPath File Module: temporary files: $prefix and $suffix"
The specifications for file:create-temp-file and file:create-temp-dir have arguments $prefix and $suffix, but the specifications says nothing about them. It appears to be the intent that the temporary files/directories that are created should have names beginning and ending with the supplied $prefix and $suffix. But the tests don't actually seem to require that.

[2022-04-14 07:29] fgeorges commented on #136
Yes, it seems that way.  @ChristianGruen, it seems they were introduced in c61e21d5097bec89f89e378e44dd30b3192b237a, so I assign it to you.

[2022-04-14 08:20] ChristianGruen commented on #136
Right, the spec is too inaccurate here. The prefix/suffix parameters have been a remnant of an early stage of the spec before I jumped in. I’m not sure if anyone requires them (well, too late).

[2022-04-15 08:55] adamretter commented on #136
Could I add that the `$prefix` and `$suffix` look very similar to those arguments which are available in the JDK NIO for creating temp files, see: https://docs.oracle.com/javase/8/docs/api/java/nio/file/Files.html#createTempFile-java.nio.file.Path-java.lang.String-java.lang.String-java.nio.file.attribute.FileAttribute...-

I am not saying that they should or should not be in the spec. Personally I

[2022-04-15 12:58] ChristianGruen commented on #136
Good to hear that there's some use for it, Adam. If there'll be a version 2 of the spec, I’m sure we'll keep it backward compatible.